<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <main>
            <div class="head-images">
                <img src="https://i.ibb.co/9nd4fsw/discord.png" alt="" />
                <span class="seperator"></span>
                <img src="https://i.ibb.co/XsT6m9M/jklu.png" alt="" />
            </div>
            <h1 class="this-head">Joining Link:</h1>
            <p class="ins">Copy this joining link and join server</p>
            <div class="joining-link">
                <p><%= link %></p>
            </div>
        </main>
    </body>
</html>
